<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        
        <h1>sign up</h1>
        <!-- here is where error message goes  -->
        <% if(typeof errors != "undefined") { %>
            <% errors.forEach(error=> { %>
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              <%= error.msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <%}) %>
            <%}%>    
            
            
            <% if( error_msg != "") { %>
              
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= error_msg %>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
             
              <%}%>    
            
              <% if(  success_msg != "") { %>
               
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <%= success_msg%>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <%}%>    
                <% if(  error != "") { %>
               
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= error%>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  
                  <%}%>    
        <form action="/users/signup" method = "POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name ="email" id ="email"  value="<%=  typeof email == 'undefined' ? ""  : email %>" palceholder ="enter your email"  class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name ="password" value="<%=  typeof password == 'undefined' ? ""  : password %>" id ="password" palceholder ="enter your password" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit"> Register</button>
            </div>

        </form>
    </div>
</div>